<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Upload pog</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<script crossorigin="anonymous"
	        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	        src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	      rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
	<header>File Uploader JavaScript</header>
	<form action="#">
		<input class="file-input" name="file" type="file">
		<i class="fas fa-cloud-upload-alt"></i>
	</form>
	<section class="progress-area"></section>
	<section class="uploaded-area"></section>
</div>

<script th:src="@{/js/main.js}"></script>

</body>
</html>